@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');
body{
    background-color: #e5e5f7;
    opacity: 1;
    background-image:  radial-gradient(#3e1f47 2px, transparent 2px), radial-gradient(#3e1f47 2px, #e5e5f7 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
    margin: 0 ;
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
    min-width: 90%;
    min-height: 100vh;
}

.loader {
    border: 18px solid #f3f3f3;
    border-radius: 50%;
    border-color: #3e1f47;
    border-top: 16px solid #a38498;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.advicebox{
    display: flex;
    flex-direction: column;
    height: 250px;
    align-items: center;
    background-color: #006466;
    padding: 10px;
    color: hsl(193, 38%, 86%);
    font-family: Manrope;
    border-radius: 10px;
    width: fit-content;
    margin: auto;


    h5{
        color:#a38498;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    p{
        font-size: 23px;
        font-weight: 700;
        margin: 10px;
        margin-bottom: 0px;
        height: 100px;
        width: 400px;
        text-align: center;
    }
    img{
        margin: 10px;
        margin-bottom: 0px;
        width: 90%;
        margin-top: 30px;
    }
    

}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-bottom: 0px;
    background-color: #e5e5f7;
    
    .rando{
            width: 50px;
            height: 50px;
            margin: 10px;
            margin-top: -30px;
            border-radius: 50%;
            padding: 27px;
            padding-top: 26px;
            background-color: #387b80;
            border: none;
            
            &:hover{
                box-shadow: 1px 1px 20px 1px #3e1f47
            }
            img{
                margin-top: -24px;
                margin-left: -11px;
                width: 22px;
            }
        }
    .logout{
        display: flex;
        align-items: center;
        align-self: flex-end;
        border-radius: 10px;
        width: fit-content;
        height: 20px;
        text-align:center;
        font-family: Geologica;
        font-size: 15px;
        padding: 20px;
        background-color: #a38498;
        border: none;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        }
    .more{
        font-size: 13px;
        font-family: Manrope;
        margin-top: 0px;
    }
}


@media screen and (max-width:700px){
    .advicebox{
        width: 300px;   

        p{
            width: 300px;
            font-size:17px;
        }
    }
}